[Unit]
Description=rTorrent with tmux
Requires=network.target local-fs.target

[Service]
Type=simple
RemainAfterExit=yes
KillMode=control-group
KillSignal=SIGTERM
User=%I
ExecStart=/usr/bin/tmux new-session -s rtorrent -n rtorrent -d rtorrent
ExecStop=/usr/bin/tmux send-keys -t rtorrent:rtorrent C-q
WorkingDirectory=/home/%I/
Restart=always

[Install]
WantedBy=multi-user.target
