[Unit]
Description=rTorrent Service
After=network-online.target local-fs.target

[Service]
Type=forking
RemainAfterExit=yes
KillMode=none
ExecStartPre=-/bin/rm -f /home/%I/Download/rtorrent/session/rtorrent.lock
ExecStart=/usr/bin/screen -d -m -fa -S rtorrent /usr/bin/rtorrent 
ExecStop=/usr/bin/killall -w -s 2 /usr/bin/rtorrent
User=%I
WorkingDirectory=/home/%I/Download/rtorrent/
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
